*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

.board
{
	width: 100vw;
	height: 100vh;
	background-color: white;

	display: grid;
	justify-content: center;
	align-content: center;

	grid-template-columns: repeat(3,auto);
}

.cell
{
	width: 100px;
	height: 100px;
	background-color: white;

	border: 1px solid black;
	position: relative;
	display:flex ;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}
.cell.circle,
.cell.x
{
	cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3)
{
	border-top: none;
}
.cell:nth-child(3n+1)
{
	border-left: none;
}

.cell:nth-child(3n+3)
{
	border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9)
{
	border-bottom: none;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.cell.x::before,
.cell.x::after
{
	content: '';
	width: 10px;
	height: 90px;
	background-color: black;
	position: absolute;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.cell.x::before
{
	transform: rotate(45deg);
}
.board.x .cell:not(.x):not(.circle):hover::after,
.cell.x::after
{
	transform: rotate(-45deg);
}



.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.cell.circle::before,
.cell.circle::after
{
	content: '';
	position: absolute;
	border-radius: 50%;
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.cell.circle::before
{
	width: 90px;
	height: 90px;
	background-color: black;
}
.board.circle .cell:not(.x):not(.circle):hover::after,
.cell.circle::after
{
	width: 75px;
	height: 75px;
	background-color: white;
}


.board.circle .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after
{
	background-color: lightgray;
}


.result.show
{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.9);
	display: grid;
	justify-content: center;
	align-content: center;

}

.result .winning-message
{

	color: white;
	font-size:35px;
	margin-bottom: 20px; 
}
.result button
{
	padding: 10px 10px; 
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid transparent;
}
.result button:hover
{
	border: 2px solid white;
	color: white;
	background-color: transparent;
}